.spisok {
    color: #8A2BE2;
    margin-left: 20%;
}
.png_k {
    margin-top: -20px;
}
.f_color {
    color: #061F70;
}
.up_png {
    margin-bottom: 10px;
}
li {
    padding: 0;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin_S {
    margin-left:50px;
}
.margin_place {
    margin-top: 20px;
    margin-left: 15px;
}
li {
    font-size:medium;
}
.liname {
    font-size: large;
}
.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.margin_b {
    margin-top: 30px;
    margin-bottom: 30px;
}
td:hover {
    background: #e8edff;
  }
.table_h {
    align-self: center;
    width: 100%;
    color: #061F70;
}
.table_s {
    margin-left: 10%;
    border-radius: 30px;
    border-color: #48DD00;
    background-color:rgba(211, 249, 167, 67%);
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}
th {
    border-radius: 20px;
}
td {
    height: 55px;
    border-radius: 20px;
}
tr {
    border: 0px;
    border-color: #48DD00;
}
.background_gradient {
    background-image: url(back_back.jpg);
}
.m_banner {
    position: relative;
    height: 85vh;
    width: 100%;
    display:inline-flex;
    background: #000;
}